{% extends 'events/event/base.html' %}
{% load vite events_tags %}

{# «Обзор» панели на Vue (frontend/src/screens/panel): переключатели дня события, числа, чек-лист, служебные действия #}
{% block site_entry %}{% vite_entry 'src/entries/panel.ts' %}{% endblock site_entry %}

{% block title %}{{ event.title }}{% endblock title %}

{% block body %}
{% panel_sections as sections %}
{{ sections|json_script:"panel-sections" }}
<div id="panel-app" data-screen="overview" data-event-id="{{ event.id }}" data-csrf-token="{{ csrf_token }}"
     data-superuser="{% if user.is_superuser %}1{% endif %}"></div>
<noscript>
  <p>Для работы панели нужен включённый JavaScript. Разделы:</p>
  <ul>
    {% for group in sections %}{% for item in group.items %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}{% endfor %}
  </ul>
</noscript>
{% endblock body %}
