{% extends 'events/base.html' %}

{% block nav-event %} {% include 'events/snippets/sn-nav-event.html' %}{% endblock %}
{% block nav-actions %} {% include 'events/snippets/sn-nav-actions.html' %}{% endblock %}
{% block nav-staff %} {% include 'events/snippets/sn-nav-staff.html' %}{% endblock %}

{% block container %}
<div class="container-fluid mb-4">
  <h4 class="mt-4">{{ event.title }}</h4>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      {% block title %} {% endblock title %}
    </li>
  </ol>
  {% block body %} {% endblock body %}
</div>
{% endblock %}