{% extends 'events/base.html' %}

{% block nav-event %} {% include 'events/snippets/sn-nav-event.html' %}{% endblock %}
{% block nav-actions %} {% include 'events/snippets/sn-nav-actions.html' %}{% endblock %}
{% block nav-staff %} {% include 'events/snippets/sn-nav-staff.html' %}{% endblock %}

{% block container %}
<h2 class="">{{ event.title }}</h2>
<div class="alert alert-secondary" class="my-4">
  <h4>{% block title %} {% endblock title %}</h4>
</div>
{% block body %} {% endblock body %}
{% endblock %}