{% extends 'events/event/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Оплата стартового взноса
{% endblock title %}

{% block body %}
<div class="row">
  <h3>Стоимость участия: <span id="id_amount">{{ amount }}</span> ₽</h3>
  <p>Участник: {{ participant.last_name }} {{ participant.first_name }}</p>
  <h4>Для оплаты отсканируйте QR-код:</h4>
  <div class="row">
    <div calss="col-6">
      <img src="data:image/png;base64,{{ img_str }}" width="300">
    </div>
  </div>
  <h4>Или перейдите по ссылке:</h4>
  <a href="{{ qr_uri }}" target="_blank">{{ qr_uri }}</a>
  <hr>
  <p>Внимание! После оплаты вам необходимо связаться с организаторами и сообщить об оплате.</p>
</div>

{% endblock body %}
