{% extends 'events/event/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Оплата полного доступа
{% endblock title %}

{% block body %}
<div class="row">
  <h3>Стоимость полного доступа: <span id="id_amount">{{ amount }}</span> ₽</h3>
  <p>Событие: {{ event.title }} ({{ event.date }})</p>
  {% if pay_available %}
  <input type="hidden" value="{{ label }}" id="id_default_label"/>
  <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="{{ receiver }}"/>
    <input type="hidden" name="label" value="{{ label }}" id="id_label_send"/>
    <input type="hidden" name="quickpay-form" value="shop"/>
    <input type="hidden" name="sum" value="{{ amount }}" data-type="number" id="id_amount_send"/>
    <input type="hidden" name="need-fio" value="false"/>
    <input type="hidden" name="need-email" value="false"/>
    <input type="hidden" name="need-phone" value="false"/>
    <input type="hidden" name="need-address" value="false"/>
    <input type="hidden" name="paymentType" value="AC"/>
    <input type="hidden" name="successURL" value="{{ success_uri }}"/>
    <input class="btn btn-primary" type="submit" value="Перейти к оплате"/>
  </form>
  {% else %}
  <p>Извините, опалата верменно недосупна.</p>
  {% endif %}
</div>

{% endblock body %}
