{% extends 'events/event/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Оплата стартового взноса
{% endblock title %}

{% block body %}
<div class="row">
  {{ event.title }} / {{ participant.last_name }} {{ participant.first_name }}
<iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&default-sum=&button-text=11&successURL=&quickpay=shop&account=410013922384058&targets=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%20%D0%BF%D0%BE%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B5&" width="100%" height="226" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

</div>
{% endblock body %}
