{% extends 'events/event/base.html' %}
{% load crispy_forms_tags %}
{% load events_tags %}
{% block title %}
Редактор трасс <small><em>(<a href="{% url 'help' type='routes' %}">инструкции</a>)</em></small>
{% endblock %}
{% block body %}

<form action="" method="post">
  {% csrf_token %}
  {% if score_table_formset %}
  {{ score_table_formset.management_form }}
  <h4>Стоимость трасс по категориям</h4>
  {% for form, grade in score_table_formset|zip:score_table_grades %}
  <div class="row">
    <label for="id_form-{{ forloop.counter }}-score" class="col-form-label col-1">{{ grade.0 }}:</label>
    <div class="col">{% crispy form %}</div>
  </div>
    
  {% endfor %}
  <hr>
  {% endif %}
  <h4>Настройки трасс</h4>
  {{ formset.management_form }}
  <table cellspacing="0" class="table table-bordered table-hover table-striped table-sm" id="dataTable" width="100%">
    <thead>
    <tr>
      <th style="width:10%">Трасса</th>
      <th>Настройки</th>
    </tr>
    </thead>
    <tbody>
    {% for form in formset %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{% crispy form %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
    <input class="btn btn-primary" id="submit-save" name="submit" type="submit" value="Сохранить">
  </div>
</form>

{% endblock %}