<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>RockEvents - скалолазные соревнования</title>
  <meta name="viewport" content="width=device-width">

  {% block css %}{% endblock css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/events/css/main.css">

  {% block scripts %}{% endblock scripts %}
  <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="/static/events/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <meta name="description" content="Сервис для проведения скалолазных соревнований">
  <meta property="og:title" content="RockEvents - скалолазные соревнования">
  <meta property="og:description" content="Сервис для проведения скалолазных соревнований">
  <meta property="og:image" content="/static/events/img/logo.png">
  <link rel="canonical" href="https://rockevents.ru/">
</head>

<body class="parent-home">
<aside class="site-sidebar">
  <div class="site-sidebar-inner h-card">
    <a href="/" rel="me" class="person u-url">
      <div class="person-avatar u-photo">
        <img src="/static/events/img/logo.png" alt="RockEvents.Ru" class="logo">
      </div>
    </a>
    <nav class="block main-navigation">
      <div class="navigation-extend-bar">
        <div class="social-icons">
          <a href="{% url 'main' %}" title="RockEvents.ru"><div class="mobile-link"><img src="/static/events/img/logo-mobile.png" alt="RockEvents.Ru" class="logo-mobile">RockEvents.ru</div></a>
        </div>
        <a href="#" class="navigation-extend-button js-extend-main-navigation">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>

      <div class="navigation-extendable">
        {% block nav-event %} {% endblock %}
        {% block nav-actions %} {% endblock %}
        {% block nav-staff %} {% endblock %}
      </div>
    </nav>
  </div>
</aside>

<div class="site-main">
  <div class="site-main-inner">
    <div class="main-section">
      {% block container %} {% endblock container %}
    </div>
  </div>
</div>

</body>

</html>