{% extends 'events/event-base.html' %}
{% block title %}
Участники
{% endblock %}

{% block content %}
{% if event.is_published %}
{% load events_tags %}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        crossorigin="anonymous"></script>
<script src="/static/events/js/stat-charts.js" type="text/javascript"></script>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#tabList" role="tab"
           aria-controls="tabList" aria-selected="true">Список</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="stat-tab" data-toggle="tab" href="#tabStat" role="tab"
           aria-controls="tabStat" aria-selected="false">Статистика</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tabList" role="tabpanel" aria-labelledby="list-tab">
        <table class="table table-sm table-striped"
               data-toggle="table"
               data-sort-name="num"
               data-sortable="true"
               id="dataTable" width="100%">
            <thead class="table-dark">
            <tr>
                <th data-field="num" data-sortable="true" style="width:10%">#</th>
                <th data-field="name" dattable-lighta-sortable="true">Участник</th>
                {% if user.is_superuser %}
                <th>Pin</th>
                {% endif %}
                <th data-field="gender" data-sortable="true">Пол</th>
                <th data-field="bithdate" data-sortable="true">Год рождения</th>
                <th data-field="city" data-sortable="true">Город</th>
                <th data-field="team" data-sortable="true">Команда</th>
                <th data-field="grade" data-sortable="true">Разряд</th>
                {% if event.set_num > 1 %}
                <th data-field="set" data-sortable="true">Сет</th>
                {% endif %}
                {% if event.group_num > 1 %}
                <th data-field="group" data-sortable="true">Категория</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participant.last_name }} {{ participant.first_name }}</td>
                {% if user.is_superuser %}
                <td>{{ participant.pin }}</td>
                {% endif %}
                <td>{{ participant.get_gender_display }}</td>
                <td>{% if participant.birth_year is not None %}{{ participant.birth_year }}{% endif %}</td>
                <td>{% if participant.city is not None %}{{ participant.city }}{% endif %}</td>
                <td>{% if participant.team is not None %}{{ participant.team }}{% endif %}</td>
                <td>{{ participant.get_grade_display }}</td>
                {% if event.set_num > 1 %}
                <td>{{ participant.set_index|set_label:event }}</td>
                {% endif %}
                {% if event.group_num > 1 %}
                <td>{{participant.group_index|group_label:event }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <a href="{% url 'export_participants_to_csv' event.id %}">Export to .*csv</a>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="tabStat" role="tabpanel" aria-labelledby="stat-tab">
        <div class="d-flex justify-content-center my-2">Распределение по сетам</div>
        <div class="card-body">
            <canvas id="setChart" width="100%"></canvas>
        </div>
        <hr>
        <div class="d-flex justify-content-center my-2">Распределение по группам</div>
        <div class="card-body">
            <canvas id="groupChart" width="100%"></canvas>
        </div>
        <hr>
        <div class="d-flex justify-content-center my-2">Распределение по городам</div>
        <div class="card-body">
            <canvas id="cityChart" width="100%"></canvas>
        </div>

        <script>
var set_data = JSON.parse("{{ chart_set_data|escapejs }}");
drawBarChart("setChart", set_data);
var group_data = JSON.parse("{{ chart_group_data|escapejs }}");
drawDoughnutChart("groupChart", group_data);
var city_data = JSON.parse("{{ chart_city_data|escapejs }}");
drawDoughnutChart("cityChart", city_data);


        </script>
    </div>
</div>

{% else %}
{% include 'events/snippet-card-banner.html' with message='Событие не опубликовано' %}
{% endif %}

{% endblock %}
