{% extends 'events/base.html' %}
{% block navigation %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <button class="btn btn-link btn-sm order-0 order-lg-0 mx-1" href="#" id="sidebarToggle"><i class="fas fa-bars"></i><span class="mx-1">Меню</span></button>
<!--  <a class="navbar-brand" href="{% url 'main' %}">Соревки</a>-->
</nav>
{% endblock %}

{% block container %}
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    {% include 'events/snippet-side-navbar.html' %}
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h4 class="mt-4">{{ event.title }}</h4>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">
            {% block title %} {% endblock %}
          </li>
        </ol>

        <section class="tab-pane fade show active">
          {% block content %} {% endblock %}
        </section>
      </div>
    </main>
  </div>
</div>


{% endblock %}
