{% extends 'events/base.html' %}
{% block navigation %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url 'main' %}">Соревнования</a>

    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Организаторам</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Мои события</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Вход</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}

{% block container %}
<main>
  <div class="container-fluid mt-5 px-3">
    {% for event in events %}
    {% include 'events/snippet-event-main.html' %}
    {% endfor %}
  </div>
</main>


{% endblock %}
