{% extends 'events/about/base.html' %}

{% block title %}
Действия с событием
{% endblock title %}

{% block body %}
<h3>Этот раздел - центр управления событием</h3>
<p>Здесь можно:</p>
<ol class="list-group list-group-numbered list-group-flush">
    <li class="list-group-item">Открыть полный доступ к фунционалу события, если он необходим.</li>
    <li class="list-group-item">Ознакомиться с краткими сведениям о событии и о количестве зарегисрированных участников.</li>
    <li class="list-group-item">Быстро перейти к настройкам события.</li>
    <li class="list-group-item">Получить ссылки на страницы с автообновление результатов. Эти страницы удобно вывести на большой экран в зале, если вы хотите демонстрировать результаты в режиме онлайн.</li>
    <li class="list-group-item">Совершить действия с событием:
        <ol>
            <li>Пересчитать результаты - пересчитывается все результаты. Если есть сомнения что что-то посчиталось неправильно. Обычно это действие не требуется.</li>
            <li>Удалить результаты - будут удалены результаты всех участников, будьте внимательны!</li>
            <li>Очистить событие - удаляются все участники, результаты и настройки трасс, будьте внимательны!</li>
            <li>Удалить событие - удаляется событие полностью, без возможности восстановления, будьте внимательны!</li>
            <li>Тестовые данные - сначала очищается событие, а затем создаются 50 случайных участников, им присваиваются случайные результаты. Удобно для тестирования функционала.</li>
        </ol>
    </li>
</ol>
{% endblock body %}