{% extends 'events/about/base.html' %}

{% block title %}
Настройка описания
{% endblock title %}

{% block body %}
<h2>В данном разделе редактируется:</h2>
<ol>
    <li class="list-item"><em>Название</em> - назвиние события, которое будет отображено на всех страницах события, в протоколах, на главной странице.</li>
    <li class="list-item"><em>Скалодром</em> - название скалодрома, отображается в протоколах и на странице описания события.</li>
    <li class="list-item"><em>Дата</em> - дата проведения события, отображается в протоколах, на главной странице</li>
    <li class="list-item"><em>Афиша</em> - картинка-постер, отображается на главной странице сайта, на странице описания события. Можно загрузить афишу или логотип скалодрома.</li>
    <li class="list-item"><em>Описание</em> - полное описание события, например регламент (положение). Отображается на странице описания события. Можно использовать форматирование текста.</li>
    <li class="list-item"><em>Краткое описание</em> - несколько слов о событии, например вид соревнований, количество групп. Отображается на главной странице сайта.</li>
</ol>
{% endblock body %}