{% extends 'events/about/base.html' %}

{% block title %}
Работа с протоколами
{% endblock title %}

{% block body %}
<h2>Получить стартовый список</h2>
<p>Скачивается стартовые протоклы в формате *.xlsx, с разбивкой по сетам и со всеми регистрационными данными.</p>
<h2>Получить итоговый протокол</h2>
<p>Формирует итоговый протокл в формате *.xlsx, с разбивкой по группам и полу. Сформированный проткол сохраняется на сервере и доступен для скачивания в таблице на странице протоколов.</p>
<h2>QR-коды</h2>
<p>Преобразуются ссылки на страницы описания, регистрации и ввода результатов соответственно в QR-коды. Картинки можно распечатать и повесить в зале для удобства участников.</p>
{% endblock body %}