{% extends 'events/about/base.html' %}

{% block title %}
Настройка оплаты
{% endblock title %}

{% block body %}
<h2>Платежи вам на счет без посредников, мгновенно через yoomoney.ru (экс-Яндекс.Деньги)</h2>

<p class="list-item">- Комиссия Yoomoney - 3% от суммы платежа.</p>
<p class="list-item">- Участнику к оплате предлагается чистый стартовый взнос, из которого потом вычтется комиссия.</p>
<p class="list-item">- Оплаченные деньги приходят сразу к вам на счёт. Вы сразу можете снимать деньги и использовать их. Удобнее всего получить бакновскую карту Yoomoney (виртуальную или реальную) и тратить деньги с неё, как с обычной карты.</p>
<p class="list-item">- Не нужно иметь ООО или ИП.</p>
<p class="list-item">- Не нужно заключать договор.</p>

<h2>Привязка кошелька к личному кабинету</h2>
<p>Это необходимо сделать один раз, в дальнейшем для новых событий можно использовать уже созданные кошельки. Зарегистрируйтесь на <a href="http://yoomoney.ru" target="_blank">https://yoomoney.ru</a>, 
    пройдите <a href="https://yoomoney.ru/id/levels" target="_blank">идентификацию</a> на уровень минимум "Именной". Это нужно для приёма платежей через сайт и для вывода средств на другие карты.
    Добвьте кошелёк к своему профилю на <a href="{% url 'wallets' %}">RockEvents</a>:</p>
<ol>
    <p class="list-item"><img src="/static/events/img/wallet1.png" class="img-thumbnail img-thumbnail-help" alt="Настройка кошелька">
    <li><p class="list-item">Введите название кошелька.</p></li>
    <li><p class="list-item">Скопируйте ID кошелька Yoomoney.</p></li>
    <li><p class="list-item">Перейдите в раздел настроек кошелька.</p></li>
    <p class="list-item"><img src="/static/events/img/wallet2.png" class="img-thumbnail img-thumbnail-help" alt="Настройка кошелька">
    <li><p class="list-item">Сбор денег - Уведомления - Подключить.</p></li>
    <li><p class="list-item">Куда отправлять (URL сайта) - вставьте ссылку <a href="{{ notify_link }}" target="_blank">{{ notify_link }}</a>.</p></li>
    <li><p class="list-item">Скопируйте "Секрет для проверки подлинности" и вставьте его в соответствующее поле на RockEvents, нажмите "Отправить" - кошелек создан и появился в списке кошельков. При необходимости можно добавить и другие кошельки.</p></li>
    <li><p class="list-item">Поставьте галочку "Отправлять HTTP-уведомления".</p></li>
    <li><p class="list-item">Нажмите "Готово". Все эти шаги нужны, чтобы Yoomoney автоматически передавало данные о проведеных платежах на сервер RockEvents, и участники автоматически помечались как уплатившие стартовый взнос.</p></li>
    <li><p class="list-item">Рекомендуется проверить корректность введённых данных - зарегистрировать участника и оплатить за него стартовый взнос. После успешного платежа у него должен появиться статус "Оплачен стартовый взнос" на странице списка участников.</p></li>
</ol>

<h2>Настройка оплаты</h2>
<ol>
    <p class="list-item"><img src="/static/events/img/wallet3.png" class="img-thumbnail img-thumbnail-help" alt="Настройка оплаты">
    <li><p class="list-item">Поставьте галочку "Оплачивать стартовые взносы на сайте".</p></li>
    <li><p class="list-item">Установите величину стартовый взноса.</p></li>
    <li><p class="list-item">Выберите из списка кошелек для зачисления стартовых взносов.</p></li>
    <li><p class="list-item">Нажмите "Сохранить".</p></li>
</ol>

<h2>Настройка промокодов</h2>
<ol>
    <p>Вы можете добавить несколько промокодов для снижения стартовых взносов.</p>
    <p class="list-item"><img src="/static/events/img/wallet4.png" class="img-thumbnail img-thumbnail-help" alt="Настройка промокодов">
    <li><p class="list-item">В поле "Промо код" введите фразу, которую будете раздавать в качестве промокода и которую будут вводить участники на странице оплаты.</p></li>
    <li><p class="list-item">Установите величину стартовый взноса для этого промокода.</p></li>
    <li><p class="list-item">Установитье ограничение на количество применений данного кода, 0 - не ограничивать.</p></li>
    <li><p class="list-item">Нажмите "Добавить".</p></li>
    <li><p class="list-item">В таблице промокодов можно перейти к редактированию существуюго кода или его удалить.</p></li>
</ol>

{% endblock body %}