{% extends 'events/about/base.html' %}

{% block title %}
Полный доступ
{% endblock title %}

{% block body %}
<h2>Откройте оплату на сайте, итоговые протколы и безлимитное количество участников</h2>
<p>По умолчанию событие создается с базовым доступом. Доступны все настройки и функционал, за исключением:</p>
<ol>
    <li class="list-item">Отключена возможность приёма платажей на сайте.</li>
    <li class="list-item">Отключена функция импорта итогового протокола в формате Excel (.xlsx).</li>
    <li class="list-item">Максимальное число участников ограничено - 50 человек.</li>
</ol>
<p>Этого достаточно, чтобы провести небольшой фестиваль, сейшн, мероприятие или батл, а результаты будут доступны онлайн.</p>
<h2>Оплата полного доступа</h2>
<ol>
    <li class="list-item">Перейдите в раздел Управление - Открыть полный доступ.</li>
    <li class="list-item">Нажмите "Перейти к оплате" и совершите оплату.</li>
    <p class="list-item"><img src="/static/events/img/premium1.png" class="img-thumbnail img-thumbnail-help" alt="Оплата полного доступа">
    <li class="list-item">После оплаты разблокируется полный функционал, в центре управления появляется соответствующий значок.</li>
    <p class="list-item"><img src="/static/events/img/premium2.png" class="img-thumbnail img-thumbnail-help" alt="Оплата полного доступа">
</ol>
{% endblock body %}