{% extends 'events/about/base.html' %}

{% block title %}
Настройка трасс
{% endblock title %}

{% block body %}
<p>В данном разделе настраивается таблица стоимости трасс по категориям (если выбрана <a href="{% url 'help' type='settings' %}">настройка</a> подсчета результатов "По таблице категорий"), а так же категория трасс и цвет зацепок.</p>
<h2>Стоимость трасс по категориям</h2>
<p>Установите для каждой категории желаемую базовую стоимость трассы, затем нажмите "Сохранить".</p>
<h2>Настройки трасс</h2>
<p>Установите для каждой трассы категорию и цвет зацепок, затем нажмите "Сохранить". Настраивать трассы следует, если выбраны соответствующие <a href="{% url 'help' type='settings' %}">настройки</a> "Показывать категорию трассы", "Показывать цвет трассы", или если система подсчёта результатов - "По таблице категорий".</p>
{% endblock body %}