{% extends 'events/about/base.html' %}

{% block title %}
Настройки события
{% endblock title %}

{% block body %}
<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-secondary">
      <th>Навзвание настройки</th>
      <th>Описание функции</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><em>Количество трасс</em></td>
      <td>Количество трасс, на которых соревнуются участники</td>
    </tr>
    <tr>
      <td>Событие опубликовано</td>
      <td>Включает/отключает отображение события на главной странице и доступность для участников</td>
    </tr>
    <tr>
      <td>Регистрация на событие разрешена</td>
      <td>Включает/отключает возможность регистрации участников</td>
    </tr>
    <tr>
      <td>Просмотр результатов разрешён</td>
      <td>Включает/отключает просмотр страницы результатов</td>
    </tr>
    <tr>
      <td>Ввод результатов разрешён</td>
      <td>Включает/отключает возможность ввода результатов участниками</td>
    </tr>
    <tr>
      <td>Учитывать только введённые результаты</td>
      <td>Включает/отключает отображение участника в результатах и протоколах, а так же учёт участника без результата в подсчёте результатов по системе "От количества пролазов" (см. п. Тип подсчёта результатов)</td>
    </tr>
    <tr>
      <td>Показывать полные результаты</td>
      <td>Включает/отключает отображение результатов (пролазов) участников на странице результатов</td>
    </tr>
    <tr>
      <td>Показывать цвет трассы</td>
      <td>Включает/отключает отображение цвета трасс при введении результатов и на странице результатов. Цвет трасс настраивается на странице <a href="{% url 'help' type='routes'%}">Трассы</a></td>
    </tr>
    <tr>
      <td>Показывать категорию трассы</td>
      <td>Включает/отключает отображение категории трасс при введении результатов и на странице результатов. Категория трасс настраивается на странице <a href="{% url 'help' type='routes'%}">Трассы</a></td>
    </tr>
    <tr>
      <td>Показывать стоимость трассы</td>
      <td>Включает/отключает отображение стоимости трасс странице результатов</td>
    </tr>
    <tr>
      <td>Рассчитывать стоимость трассы отдельно по каждой группе</td>
      <td>При выборе типа подсчёта результатов "От количества пролазов" и при наличии нескольких групп участников (например: Спортсмены, Новички):<br>
        Включено: стоимость трассы рассчитывается отдельно по каждой группе<br>
        Отключено: стоимость трассы рассчитывается по всем участникам одного пола, независимо от группы</td>
    </tr>
    <tr>
      <td>Ввод результатов без регистрации</td>
      <td>Возможность вводить результаты без регистрации (и SMS :)), при этом предварительная регистрация участников невозможна. Данную возможность следует использовать при проведении мероприятий без предварительной регистрации.</td>
    </tr>
    <tr>
      <td>Показывать участнику пин-код после регистрации</td>
      <td>Позволяет включить отображение страницы с пин-кодом участника после его регистрации.</td>
    </tr>
    <tr>
      <td>При вводе результата показывать участнику страницу потверждения</td>
      <td>Позволяет включить отображение страницы проверки введенных результатов, где участник ещё раз сверяет свой введённый результат. Оттуда он может вернуться к редактированию результата или окончательно подтверждает свой результат.</td>
    </tr>
    <tr>
      <td>Разрешить участнику обновлять свои результаты</td>
      <td>Позволяет участнику отредактировать свой результат по пин-коду. При выключенной настройке редактировать результат сможет только организатор события.</td>
    </tr>
    <tr>
      <td>Тип подсчёта результатов</td>
      <td>
        Результат участника определяется суммированием всех баллов за трассы, которые он пролез, с учётом настроек Очки за Flash, Очки за Redpoint. Балл за трассу определяется:<br>
        <strong>Сумма баллов: </strong>числовым значением из настроек <em>Очки за Flash</em> или <em>Очки за Redpoint</em>;<br>
        <strong>От количества пролазов:</strong> по формуле <em><strong>Балл = Б / Ку</strong></em>, 
        где Б - базавая стоимость трассы (очки за Flash или Redpoint), 
        Ку - количество участников одного пола, которые пролезли данную трассу (общее или только в определенной группе - см. п. <em>Рассчитывать стоимость трассы отдельно по каждой группе</em>).
      </td>
    </tr>
    <tr>
      <td>Очки за Flash</td>
      <td>Базовая стоимость трассы за Flash (рекомендуемое значение - 100).</td>
    </tr>
    <tr>
      <td>Очки за Redpoint</td>
      <td>Базовая стоимость трассы за Redpoint (рекомендуемое значение - 80).</td>
    </tr>
    <tr>
      <td>Количество групп участников</td>
      <td>Количество различных групп участников, например по уровню лазания или по возрасту.</td>
    </tr>
    <tr>
      <td>Список групп через запятую</td>
      <td></td>
    </tr>
    <tr>
      <td>Количество сетов</td>
      <td></td>
    </tr>
    <tr>
      <td>Список сетов через запятую</td>
      <td></td>
    </tr>
    <tr>
      <td>Максимальное число участников в сете (0 - не ограничено)</td>
      <td></td>
    </tr>
    <tr>
      <td>Дополнительные поля формы регистрации</td>
      <td></td>
    </tr>
    <tr>
      <td>Обязательные поля при регистрации</td>
      <td></td>
    </tr>
    <tr>
      <td>Минимальный возраст участника</td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock body %}