{% extends 'events/profile/base.html' %}

{% block title %}
О проекте
{% endblock title %}

{% block body %}
<div class="row">
  <div>
    <p>
      Сервис предназнаен для организаторов скалолазных соревнований (фестивалей).<br>
      Благодаря ему можно быстро создать событие, открыть регистрацию. Во время соревнований легко внести результаты (участниками или организаторами), и сразу же получить итоговые результаты и протоколы.
    </p>
    </div>
  <div>
    Основные возможности:
    <ul>
      <li><strong>Создание</strong> события на определённую дату</li>
      <li>Гибкое <strong>управление</strong> событием (количество участников, разделение на сеты, группы, поля регистрации)</li>
      <li><strong>Ввод результатов</strong> участниками (как по предварительной регистрации, так и без неё)</li>
      <li>Автоматический <strong>подсчёт результатов</strong> по нескольким фестивальным алгоритмам</li>
      <li>Автоматическое формирование <strong>стартовых списков</strong> и <strong>итоговых протоколов</strong> в формате Excel</li>
      <li>Автоматическое формирование <strong>QR-кодов</strong> с сылками на страницы регистрации, ввода результатов</li>
      <li>Возможность <strong>задать категорию</strong> и цвет зацепок трасс</li>
    </ul>
  </div>
  <div>
    Сервис находится в стадии бета-тестирования.
    С вопросами и предложениями обращаться:
    <p class="display-6">
      <a href="https://t.me/kireevip" target="_blank"><i class="fa-brands fa-telegram"></i></a>
      <a href="https://vk.com/kireev_ilya" target="_blank"><i class="fa-brands fa-vk"></i></a>
      <a href="mailto:zzerocks@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    </p>
  </div>
</div>
{% endblock body %}