{% load active_link_tags %}
{% if user.is_authenticated %}
<div class="sb-sidenav-menu-heading">Управление событием</div>
<a class="nav-link {% active_link 'admin_actions' strict=True event_id=event.id %}"
   href="{% url 'admin_actions' event.id %}">Управление</a>
<a class="nav-link {% active_link 'admin_description' strict=True event_id=event.id %}"
   href="{% url 'admin_description' event.id %}">Описание</a>
<a class="nav-link {% active_link 'admin_settings' strict=True event_id=event.id %}"
   href="{% url 'admin_settings' event.id %}">Настройки</a>
<a class="nav-link {% active_link 'route_editor' strict=True event_id=event.id %}"
   href="{% url 'route_editor' event.id %}">Трассы</a>
<a class="nav-link {% active_link 'admin_protocols' strict=True event_id=event.id %}"
   href="{% url 'admin_protocols' event.id %}">Протоколы</a>
<hr>
{% endif %}