{% load active_link_tags %}
{% if user == event.owner or user.is_superuser %}
<div class="nav-heading">{% if event.is_premium %}<span title="Полный доступ"><i class="fa-solid fa-star"></i></span>{% endif %}Управление событием</div>
<a class="nav-link {% active_link 'admin_actions' strict=True event_id=event.id %}" href="{% url 'admin_actions' event.id %}">Управление</a>
<a class="nav-link {% active_link 'admin_description' strict=True event_id=event.id %}" href="{% url 'admin_description' event.id %}">Описание</a>
<a class="nav-link {% active_link 'admin_settings' strict=True event_id=event.id %}" href="{% url 'admin_settings' event.id %}">Настройки</a>
<a class="nav-link {% active_link 'pay_settings' strict=True event_id=event.id %}" href="{% url 'pay_settings' event.id %}">Оплата</a>
<a class="nav-link {% active_link 'route_editor' strict=True event_id=event.id %}" href="{% url 'route_editor' event.id %}">Трассы</a>
<a class="nav-link {% active_link 'admin_protocols' strict=True event_id=event.id %}" href="{% url 'admin_protocols' event.id %}">Протоколы</a>
{% if user.is_superuser %}
<a class="nav-link {% active_link 'premium_settings event.id' %}" href="{% url 'premium_settings' event.id %}">Премиум</a>
{% endif %}
<hr />
{% endif %}
